<div id="mc_embed_signup">
    <form action="//gitlab.us15.list-manage.com/subscribe/post?u=74db289c832cae1661fe0f6a9&amp;id=da006cc2b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Join my private mailing list <br> and don't miss any new posts.</label>
        <br>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74db289c832cae1661fe0f6a9_da006cc2b4" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>